<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
  <div class="col-6 offset-3">
    <form action="/signup" method="POST" novalidate class="needs-validation">
      <h3>Sign Up</h3>
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          class="form-control"
          type="text"
          name="username"
          placeholder="Username"
          required
        />
        <div class="valid-feedback">Username looks good!</div>
        <div class="invalid-feedback">Enter a username</div>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          class="form-control"
          type="email"
          name="email"
          placeholder="Email"
          required
        />
        <div class="valid-feedback">Email looks good!</div>
        <div class="invalid-feedback">Enter a valid email</div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          class="form-control"
          type="password"
          name="password"
          placeholder="Password"
          required
        />
        <div class="valid-feedback">Password looks good!</div>
        <div class="invalid-feedback">Enter a password</div>
      </div>
      <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
  </div>
</div>
